$light-blue:#0078CD;
$normal-blue:#00528C;
$dark-blue:#002A48;
$lightmon-yellow:#FCEED5;
$normalmon-yellow:#F1D092;
$darkmon-yellow:#EEC77E;
$neutral-color-100:#00171F;
$neutral-color-80:#242B33;
$neutral-color-60:#667479;
$neutral-color-40:#99A2A51F;
$neutral-color-20:#CCD1D2;
$neutral-color-10:#EBEEEF;
$neutral-color-0:#FDFDFD;
$pink:#FF564F;
$green:#34C759;
$orange:#FF912C;